doctype html
html(encoding = "UTF-8")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Zoom
    body 
        h1 실시간 영상 처리 EXERCISE